# {{ ansible_managed }}

[Unit]
Description=Monasca Notification
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ notification_user }}
Group={{ notification_group }}
ExecStart={{ notification_virtualenv_dir }}/bin/monasca-notification {{ notification_conf_dir }}/{{ notification_conf_file }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
