# {{ ansible_managed }}

# Startup script for the monasca_notification

description "Monasca Notification daemon"
start on runlevel [2345]

console log
respawn

kill timeout 240
respawn limit 25 5

setgid {{ notification_group }}
setuid {{ notification_user }}
exec {{ notification_virtualenv_dir }}/bin/monasca-notification {{ notification_conf_dir }}/{{ notification_conf_file }}
